@charset "UTF-8";

@font-face {
    font-family: milky;
    src: url(../fonts/Story_milky.otf);
}
@font-face {
    font-family: trends;
    src: url(../fonts/Trends.ttf);
}

:root {
    --titulo: 'milky';
    --subtitulo: 'trends', Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../images/backgroud/sandwich-background2.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 20vh;
}

h1#titulo {
    color: #89D99D;
    text-shadow: black 10px 7px 20px;
    font-family: var(--titulo);

    font-size: 70px;
    text-align: center;                
    padding-top: 40px;         
}

nav#barra_de_navegação {
    margin-top: -40px;
    padding: 10px 0px 0px 25px;
    height: 35px;

    background-color: #0B2B40;
}

.links {
    margin-right: 20px;

    font-family: var(--subtitulo);
    font-size: 20px;
    font-weight: 100;

    text-decoration: none;
    color: white;
    transition: 300ms;
    transition-delay: 50ms;
}

.links:hover {
    color: #89D99D;
}

main {
    margin: auto;
    width: 600px;
    height: 100vh;
}

label {
    font-family: var(--subtitulo);
    font-weight: 100;
    color: #0B2B40;
}

input {
    text-align: left;
    margin: 10px;
    padding-top: 5px;
    padding-right: 50px;
}

#commentid {
    margin: 10px;
    padding-top: 5px;
    padding-left: 50px;
}

h2 {
    text-align: center;
    font-family: var(--subtitulo);
    font-weight: 100;
    padding: 15px;
    font-size: 35px;

    color: #0B2B40;
}

footer {
    background-color: #0B2B40;
    text-decoration: none;
    
    margin-top: 10px;
    padding-top: 20px;
    height: 30px;

    text-align: center;
    font-weight: 600;
    color: white;

}

footer > p > a {
    text-decoration: none;

    text-decoration: none;
    color: white;
    transition: 300ms;
    transition-delay: 50ms;
    
}

footer > p > a:hover {
    color: #00f7f7;
    text-shadow: rgba(0, 0, 0, 0.822) 1px 1px 10px;
}


/* Color Theme Swatches in Hex */
.Northern-Lights-1-hex { color: #164773; }
.Northern-Lights-2-hex { color: #0B2B40; }
.Northern-Lights-3-hex { color: #1E5959; }
.Northern-Lights-4-hex { color: #3B8C6E; }
.Northern-Lights-5-hex { color: #89D99D; }
